<a href="https://www.kaggle.com/code/isissantoscosta/365ds-practice-exams-sql?scriptVersionId=241107439" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

<a id='top'></a>
Created on May 21, 2025 ‚Ä¢ by [√çsis Santos Costa](https://www.linkedin.com/in/isis-santos-costa/)

<hr>

**How to expand and assess SQL skills?**

This notebook focuses on solving questions from the [**365 Data Science ‚Ä¢ Practice Exams: SQL**](https://learn.365datascience.com/exams/?tab=practice) curriculum, a **free resource** designed to help test and elevate data science skills. Here, you'll find a set of practices on SQL querying and data analysis within a People Analytics context. It applies the steps of a business analysis process to get insights from the provided data, covering detailed answers to 365DS SQL Practice Exams 1, 2, and 3, with special emphasis on illustrating the usage and value of **SQL procedures and functions**.

From the [365 Data Science Practice Exams](https://365datascience.com/resources-center/practice-exams/) webpage:

> Discover a plethora of online exams that will test your current knowledge and ability to solve data science problems.  
> Evaluate your skills online **at no cost** with SQL mock tests, Excel and NumPy exam questions, and more.

<br>

The data for the 365 Data Science SQL Practice Exams is available as a Kaggle dataset: [üéì 365DS Practice Exams ‚Ä¢ People Analytics Dataset](https://www.kaggle.com/datasets/isissantoscosta/365ds-practice-exams-people-analytics-dataset/).

<center>
    <img src='https://raw.githubusercontent.com/isis-santos-costa/isis-santos-costa/refs/heads/main/img/SQL.png' alt='databases' width='350'>
</center>

<a id='business_questions'></a>

# <div style="background-color:#03002e; padding:18px; border-radius:8px; color:white; text-align:center; font-weight:regular; overflow:hidden"><strong>Step 1 ‚Ä¢ Business questions</strong></div>

In the realm of business, data is abundant, insights are precious. The distinction often lies in one crucial factor: **starting with the right business questions**. It transforms data analysis from a technical exercise into a **strategic driver**, focusing efforts on what truly matters. This ensures insights are actionable and directly align with **strategic goals**, such as increasing customer satisfaction, optimizing costs, and boosting revenue.

For that reason, given the context defined by the exercise dataset - **People Analytics** - a first step to make the analysis interesting is to compile a set of strategic questions on that context that have the potential to drive impactful positive change **for the company's advancement**.

With that in mind, here it goes a set of possible business questions to drive the analysis, categorized by People Analytics themes:

**A. Workforce Demographics & Structure:**

1. What is the current distribution of employees by department, title, and gender?
2. How has the workforce size changed over time, by department and overall?
3. What is the average tenure of employees across the company and within specific departments or titles?
4. What is the gender diversity breakdown within each department and across different job titles?

**B. Compensation & Benefits:**

5.  What are the average, median, and range of salaries by department, title, and tenure?
6.  How have salary trends evolved over time for different roles or employee groups?
7.  Are there significant salary differences based on gender for similar roles/tenure? (Identifying potential pay equity issues)
8.  What is the average salary increase rate per year, and how does it vary by department or title?

**C. Talent Mobility & Turnover:**

9.  What is the overall employee turnover rate, and how does it vary by department, manager, or title over time?
10. Which departments or managers experience the highest/lowest employee retention rates?
11. What is the average duration employees stay in a particular title before promotion or departure?
12. What are the common career paths or transitions within the company (e.g., from 'Engineer' to 'Senior Engineer', or internal department transfers)?
13. How frequently do employees change departments or titles?

**D. Management & Leadership:**

14. Which managers have the longest average tenure with their teams?
15. How many employees report to each manager over time? (Understanding span of control).
16. What is the average salary of managers compared to non-managers?

<a id='data_collection'></a>

# <div style="background-color:#03002e; padding:18px; border-radius:8px; color:white; text-align:center; font-weight:regular; overflow:hidden"><strong>Step 2 ‚Ä¢ Data collection</strong></div>

This dataset has a rich lineage, originating from academic research and evolving through various formats to its current relational structure:

**Original authors**: 
The foundational dataset was authored by Prof. Dr. Fusheng Wang [üîó](https://www3.cs.stonybrook.edu/~fuswang/) (then a PhD student at the University of California, Los Angeles - UCLA) and his advisor, Prof. Dr. Carlo Zaniolo [üîó](https://web.cs.ucla.edu/~zaniolo/) (UCLA). This work is primarily described in their paper: **Wang, F., & Zaniolo, C. (2004). *Publishing and Querying the Histories of Archived Relational Databases in XML*. [DOI:10.1109/WISE.2003.1254473](http://dx.doi.org/10.1109/WISE.2003.1254473).**

**Relational conversion**: It was originally distributed as an `.xml` file. Giuseppe Maxia (known as @datacharmer on GitHub[üîó](https://github.com/datacharmer/) and LinkedIn[üîó](https://www.linkedin.com/in/datacharmer/), as well as here on Kaggle) converted it into its relational form and subsequently distributed it as a `.sql` file, making it accessible for relational database use.

**Kaggle upload**: This `.sql` version was then loaded to Kaggle as the ¬´ [Employees Dataset](https://www.kaggle.com/datasets/huzaifamirza/employees-dataset) ¬ª by Mirza Huzaifa[üîó](https://www.linkedin.com/in/mirza-huzaifa-ali-baig-601743223/) on February 5th, 2023.  


**Kaggle dataset**: On May 20th, 2025, for convenient access and ease of use in analytical tools, the `.sql` file has been [converted](https://www.kaggle.com/code/isissantoscosta/create-database-from-sql-file-sqlite/) into a single `.db` (SQLite) database file as well as a set of individual `.csv` files by √çsis Santos Costa[üîó](https://www.linkedin.com/in/isis-santos-costa/), and loaded into this Kaggle Dataset: [üéì 365DS Practice Exams ‚Ä¢ People Analytics Dataset](https://www.kaggle.com/datasets/isissantoscosta/365ds-practice-exams-people-analytics-dataset).

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/365ds-practice-exams-people-analytics-dataset/dept_emp.csv
/kaggle/input/365ds-practice-exams-people-analytics-dataset/dept_manager.csv
/kaggle/input/365ds-practice-exams-people-analytics-dataset/employees.csv
/kaggle/input/365ds-practice-exams-people-analytics-dataset/titles.csv
/kaggle/input/365ds-practice-exams-people-analytics-dataset/salaries.csv
/kaggle/input/365ds-practice-exams-people-analytics-dataset/employees.db
/kaggle/input/365ds-practice-exams-people-analytics-dataset/departments.csv

<a id='data_prep'></a>

# <div style="background-color:#03002e; padding:18px; border-radius:8px; color:white; text-align:center; font-weight:regular; overflow:hidden"><strong>Step 3 ‚Ä¢ Data prep</strong></div>

## üîé Inspecting the dataset

In [2]:
table_names = ['departments', 
               'dept_emp', 
               'dept_manager', 
               'employees', 
               'salaries', 
               'titles']

dfs = []
for table_name in table_names:
    df = pd.read_csv('/kaggle/input/365ds-practice-exams-people-analytics-dataset/' + table_name + '.csv')
    dfs.append(df)

print('üîé INSPECTING THE DATASET ##############################################################')

print('\n\n\n TABLES INFO ++++++++++++++++++++++++++++++++++++++')
for (table_name, df) in zip(table_names, dfs):
    print('\n\n', table_name.upper())
    df.info()

print('\n\n\n COLUMN NAMES +++++++++++++++++++++++++++++++++++++')
for (table_name, df) in zip(table_names, dfs):
    print('\n\n', table_name.upper())
    print(list(df.columns))

üîé INSPECTING THE DATASET ##############################################################



 TABLES INFO ++++++++++++++++++++++++++++++++++++++


 DEPARTMENTS
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dept_no    9 non-null      object
 1   dept_name  9 non-null      object
dtypes: object(2)
memory usage: 276.0+ bytes


 DEPT_EMP
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331603 entries, 0 to 331602
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     331603 non-null  int64
 1   dept_no    331603 non-null  object
 2   from_date  331603 non-null  object
 3   to_date    331603 non-null  object
dtypes: int64(1), object(3)
memory usage: 10.1+ MB


 DEPT_MANAGER
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   emp_no     24 non-null     int64
 1   dept_no    24 non-null     object
 2   from_date  24 non-null     object
 3   to_date    24 non-null     object
dtypes: int64(1), object(3)
memory usage: 900.0+ bytes


 EMPLOYEES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB


 SALARIES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 967330 entries, 0 to 967329
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     967330 non-null  int64
 1   salary     967330 non-null  int64
 2   from_date  967330 non-null  object
 3   to_date    967330 non-null  object
dtypes: int64(2), object(2)
memory usage: 29.5+ MB


 TITLES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443308 entries, 0 to 443307
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     443308 non-null  int64
 1   title      443308 non-null  object
 2   from_date  443308 non-null  object
 3   to_date    443308 non-null  object
dtypes: int64(1), object(3)
memory usage: 13.5+ MB



 COLUMN NAMES +++++++++++++++++++++++++++++++++++++


 DEPARTMENTS
['dept_no', 'dept_name']


 DEPT_EMP
['emp_no', 'dept_no', 'from_date', 'to_date']


 DEPT_MANAGER
['emp_no', 'dept_no', 'from_date', 'to_date']


 EMPLOYEES
['emp_no', 'birth_date', 'first_name', 'last_name', 'gender', 'hire_date']


 SALARIES
['emp_no', 'salary', 'from_date', 'to_date']


 TITLES
['emp_no', 'title', 'from_date', 'to_date']

## üè∑Ô∏è Applying appropriate data types

In [3]:
# The INFO seen above reveals that the following fields need to be casted to the appropriate type:
# Category: ['gender']
# Datetime: ['from_date', 'to_date', 'birth_date', 'hire_date']

category_cols = ['gender']
datetime_cols = ['from_date', 'to_date', 'birth_date', 'hire_date']

print('\n\n\n üè∑Ô∏è APPLYING APPROPRIATE DATA TYPES ###################################################### ')
for (table_name, df) in zip(table_names, dfs):
    
    column_names = df.columns
    for column_name in column_names:
        
        if column_name in category_cols:
            df[column_name] = df[column_name].astype('category')
            print(df[column_name].dtype, table_name, column_name)
            
        if column_name in datetime_cols:
            df[column_name] = df[column_name].replace('9999-01-01', pd.NaT)
            df[column_name] = df[column_name].astype('datetime64[ns]')
            print(df[column_name].dtype, table_name, column_name)

print('\n\n\n TABLES DESCRIBE ++++++++++++++++++++++++++++++++++')
for (table_name, df) in zip(table_names, dfs):
    print('\n\n', table_name.upper(), '\n', df.describe())

 üè∑Ô∏è APPLYING APPROPRIATE DATA TYPES ######################################################
datetime64[ns] dept_emp from_date
datetime64[ns] dept_emp to_date
datetime64[ns] dept_manager from_date
datetime64[ns] dept_manager to_date
datetime64[ns] employees birth_date
category employees gender
datetime64[ns] employees hire_date
datetime64[ns] salaries from_date
datetime64[ns] salaries to_date
datetime64[ns] titles from_date
datetime64[ns] titles to_date



 TABLES DESCRIBE ++++++++++++++++++++++++++++++++++


 DEPARTMENTS
        dept_no  dept_name
count        9          9
unique       9          9
top       d001  Marketing
freq         1          1


 DEPT_EMP
               emp_no                      from_date  \
count  331603.000000                         331603
mean   253332.605025  1993-01-01 23:42:24.762260864
min     10001.000000            1985-01-01 00:00:00
25%     85005.500000            1989-02-25 00:00:00
50%    250001.000000            1993-01-27 00:00:00
75%    424999.500000            1996-11-09 00:00:00
max    499999.000000            2002-08-01 00:00:00
std    161831.919445                            NaN

                             to_date
count                          91479
mean   1997-04-14 03:28:02.235267200
min              1985-02-17 00:00:00
25%              1994-10-14 00:00:00
50%              1998-03-09 00:00:00
75%              2000-06-07 00:00:00
max              2002-08-01 00:00:00
std                              NaN


 DEPT_MANAGER
               emp_no            from_date              to_date
count      24.000000                   24                   15
mean   110780.833333  1989-05-12 01:00:00  1991-12-23 06:24:00
min    110022.000000  1985-01-01 00:00:00  1988-09-09 00:00:00
25%    110284.250000  1985-01-01 00:00:00  1990-07-27 12:00:00
50%    110646.000000  1989-08-26 12:00:00  1991-10-01 00:00:00
75%    111199.750000  1992-03-29 18:00:00  1992-08-20 12:00:00
max    111939.000000  1996-08-30 00:00:00  1996-08-30 00:00:00
std       627.958713                  NaN                  NaN


 EMPLOYEES
               emp_no                     birth_date  \
count  300024.000000                         300024
mean   253321.763392  1958-07-31 16:12:23.268538560
min     10001.000000            1952-02-01 00:00:00
25%     85006.750000            1955-05-01 00:00:00
50%    249987.500000            1958-08-01 00:00:00
75%    424993.250000            1961-10-28 00:00:00
max    499999.000000            1965-02-01 00:00:00
std    161828.235540                            NaN

                           hire_date
count                         300024
mean   1990-01-28 17:39:00.388768896
min              1985-01-01 00:00:00
25%              1987-02-08 00:00:00
50%              1989-06-20 00:00:00
75%              1992-07-30 00:00:00
max              2000-01-28 00:00:00
std                              NaN


 SALARIES
               emp_no         salary                      from_date  \
count  967330.000000  967330.000000                         967330
mean    62483.925957   63761.204329  1996-03-19 20:41:26.047987840
min     10001.000000   38735.000000            1985-01-01 00:00:00
25%     35491.000000   50437.000000            1993-03-04 00:00:00
50%     60924.000000   61070.000000            1996-11-02 00:00:00
75%     86385.000000   74123.000000            1999-09-29 00:00:00
max    201771.000000  158220.000000            2002-08-01 00:00:00
std     34018.647698   16922.546114                            NaN

                             to_date
count                         885695
mean   1996-08-30 01:53:21.806942592
min              1985-03-01 00:00:00
25%              1993-10-12 00:00:00
50%              1997-04-12 00:00:00
75%              2000-01-16 00:00:00
max              2002-08-01 00:00:00
std                              NaN


 TITLES
               emp_no                      from_date  \
count  443308.000000                         443308
mean   253075.034430  1994-01-25 01:15:39.377588480
min     10001.000000            1985-01-01 00:00:00
25%     84855.750000            1990-07-19 00:00:00
50%    249847.500000            1994-06-27 00:00:00
75%    424891.250000            1997-10-07 00:00:00
max    499999.000000            2002-08-01 00:00:00
std    161853.292613                            NaN

                             to_date
count                         203184
mean   1997-04-01 10:41:39.078667776
min              1985-03-01 00:00:00
25%              1994-09-24 00:00:00
50%              1997-07-25 00:00:00
75%              2000-02-09 00:00:00
max              2002-08-01 00:00:00
std                              NaN

<a id='data_analysis_365'></a>

# <div style="background-color:#03002e; padding:18px; border-radius:8px; color:white; text-align:center; font-weight:regular; overflow:hidden"><strong>Step 4 ‚Ä¢ Data Analysis | Exam Questions</strong></div>

## Exam 2 ‚Ä¢ Question 1
Retrieve a list of all employees hired in year 2000, sorted by first name in ascending order.
What is the last name of third employee from the obtained input? [^question_note]

<br>

---  

[^question_note] Questions are here paraphrased in a concise manner. For full context and original phrasing, please refer to the exam sponsor [üîó](https://learn.365datascience.com/exams/).

In [4]:
# Getting the employees table
df_idx = table_names.index('employees')
df = dfs[df_idx]
df

# Filtering to `hire_date` year = 2000
df = df[df['hire_date'].dt.year == 2000]
df

### Sorting by first name in ascending order
df = df.sort_values(by='first_name', ascending=True)
df

### Getting the last name of the third listed employee
ans = df.iloc[3-1]['last_name']
ans

'Delgrande'

## Exam 2 ‚Ä¢ Question 2
Prepare: `department`, `female_avg_salary`, `male_avg_salary`.
Compare. [^question_note]

<br>

---  

[^question_note] Questions are here paraphrased in a concise manner. For full context and original phrasing, please refer to the exam sponsor [üîó](https://learn.365datascience.com/exams/).

In [5]:
# INFO needed:
# salaries: `salaries` table
# gender: `employees` table
# department: `dept_emp` table, `departments` table

# Get the salaries table (967330 rows √ó 4 columns)
df_idx = table_names.index('salaries')
df1 = dfs[df_idx]
df1

# Get the employees table (300024 rows √ó 6 columns)
df_idx = table_names.index('employees')
df2 = dfs[df_idx]
df2

# Join salaries ‚ãà employees
df = pd.merge(df1, df2, on='emp_no', how='inner')
df

# Get the dept_emp table (331603 rows √ó 4 columns)
df_idx = table_names.index('dept_emp')
df3 = dfs[df_idx]
df3

# Join df ‚ãà dept_emp
df = pd.merge(df, df3, on='emp_no', how='inner', suffixes=('_' + 'salary', '_' + 'dept'))
df

# Get the departments table (9 rows √ó 2 columns)
df_idx = table_names.index('departments')
df4 = dfs[df_idx]
df4

# Join df ‚ãà departments
df = pd.merge(df, df4, on='dept_no', how='inner')
df

# Subset to fields of interest (‚ö†Ô∏è to be reviewed)
df = df[['dept_name', 'gender', 'salary']]
df

# Prepare `dept_name`, `female_avg_salary`, `male_avg_salary`
df = df.pivot_table(
    index='dept_name',
    columns='gender',
    values='salary',
    aggfunc='mean',
    observed=False
).round(2)
df

# Compare
df = df.sort_values(by='M', ascending=False)
df

gender                     F         M
dept_name
Sales               80626.56  80879.76
Marketing           71464.48  72198.19
Finance             69914.92  70327.03
Research            59712.78  59965.77
Production          59456.00  59596.36
Development         59391.95  59576.33
Customer Service    58998.73  58590.99
Quality Management  57423.31  57206.90
Human Resources     55596.37  55196.55

WIP ‚Ä¢ to be continued (coming soon, in May 2025)

<a id='data_analysis_extra'></a>

# <div style="background-color:#03002e; padding:18px; border-radius:8px; color:white; text-align:center; font-weight:regular; overflow:hidden"><strong>Step 4 ‚Ä¢ Data Analysis | Extra</strong></div>


WIP (coming soon, in May 2025)

<a id='synthesis'></a>

# <div style="background-color:#03002e; padding:18px; border-radius:8px; color:white; text-align:center; font-weight:regular; overflow:hidden"><strong>Step 5 ‚Ä¢ Synthesis</strong></div>


WIP (coming soon, in May 2025)